$bg-color: #030303;
$correct-color: #2d3a08;
$wrong-color: #650606;
$not-active-color: #a99578;
$main-light-color: #cf943a;
$main-dark-color: #7b5620;
$main-light-color-hover: #e29c30;
$main-dark-color-hover: #a97529;

$font-size-headers: 24px;
$font-size-main: 18px;
$font-size-footer: 16px;
$font-size-results: 40px;
$font-size-results-in-categories: 20px;
