.footer {
  display: flex;
  justify-content: space-between;
  color: $main-dark-color;
  font-size: $font-size-footer;

  .footer-data {
    padding-left: $padding;
    text-align: left;

    & p {
      margin: 6px 0 $margin-small;
    }

    .footer-author {
      text-decoration: none;
      color: $main-dark-color;
      transition: color 0.1s;
      &:hover {
        color: $main-dark-color-hover;
      }
    }
  }

  .rs-school {
    width: 70px;
    height: auto;
    padding: 2px;
    margin-right: $padding;
    background-color: $main-dark-color;
    transition: background-color $transition-duration;
    &:hover {
      width: 72px;
      background-color: $main-dark-color-hover;
    }
  }
}
