body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size-main;
  text-transform: uppercase;
  background-color: $bg-color;
  box-sizing: border-box;
}

.show {
  // border: 1px solid red;
}

.hide {
  display: none;
}
