body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
  font-size: $font-size-main;
  text-transform: uppercase;
  text-align: center;
  color: $main-light-color;
  background-color: $bg-color;
  box-sizing: border-box;
}

.container {
  max-width: $content-max-width;
  margin: 0 auto;
}

.content-container {
  max-width: $content-width;
  margin: 0 auto;
}

.logo {
  filter: $icon-hover-filter;
}
